In [1]:
import pandas as pd
import mysql.connector

In [2]:
table_oeuvre_auteur = pd.read_csv("table_oeuvre_auteur.csv")
table_musee = pd.read_csv("table_musee.csv")
table_Oeuvre_Domaine = pd.read_csv("table_Oeuvre_Domaine.csv")
table_oeuvres = pd.read_csv("table_oeuvres.csv")

In [56]:
table_Oeuvre_Domaine.columns

Index(['ID-notice', 'Domaine'], dtype='object')

In [49]:
cnx = mysql.connector.connect(user='root',password = "root", database='joconde2')

In [50]:
cursor = cnx.cursor()
for row in table_musee.index:
    add_musee = ("INSERT INTO musees"
                    "(Id, Nom, Region, Departement, Ville, Latitude, Longitude) "
                    "VALUES (%s, %s, %s, %s, %s, %s, %s)")
    data_musee = (table_musee.Identifiant[row], table_musee['Nom officiel'][row], table_musee.Région[row], table_musee.Département[row], table_musee.Ville[row], table_musee.Latitude[row],table_musee.Longitude[row])
    cursor.execute(add_musee, data_musee)
    cnx.commit()
cursor.close()
cnx.close()

In [53]:
cnx = mysql.connector.connect(user='root',password = "root", database='joconde2')
cursor = cnx.cursor()
for row in table_oeuvres.index:
    try:
        add = ("INSERT INTO oeuvres"
                        "(Id, Titre, Période_Création, IdMusee) "
                        "VALUES (%s, %s, %s, %s)")
        data = (table_oeuvres['ID-notice'][row], table_oeuvres.Titre[row], table_oeuvres["Période de création"][row], table_oeuvres["Identifiant Museofile"][row])
        cursor.execute(add, data)
        cnx.commit()
    except:
        pass
cursor.close()
cnx.close()

In [55]:
cnx = mysql.connector.connect(user='root',password = "root", database='joconde2')
cursor = cnx.cursor()
for row in table_oeuvre_auteur.index:
    try:
        add = ("INSERT INTO creer"
                        "(IdOeuvre, Auteur) "
                        "VALUES (%s, %s)")
        data = (table_oeuvre_auteur['ID-notice'][row], table_oeuvre_auteur.Auteur[row])
        cursor.execute(add, data)
        cnx.commit()
    except:
        print(row)
cursor.close()
cnx.close()

21505
23881
23955
23956
33075
36645
42004
42006
47210
47212
54111
54112
54135
54136
55161
77789
77791
77793
77795
88798
88799
90204
90236
90238
105483
108981
118553
122450
125568
143606
151766
151768
152953
166955
172168
172171
172174
172176
172177
172179
174427
180693
182646
182648
182650
182652
184864
184866
187171
187218
187220
187222
191370
205055
205056
208062
228649
243860
243862
243864
245065
246162
246989
248230
249510
271350
271352
271354
271414
276881
276884
276887
277057
277059
277062
293273
293274
302909
312741
317632
319076
355756
360001
365718
365720
378389
378820
378822
378824
379822
379824
379826
379969
381896
386688
386690
387115
387117
387118
387476
387481
387869
387952
387954
387955
388443
388445
389456
394480
395494
395780
395884
397271
397325
402685
405178
405732
408606
408607
408927
409269
409270
422510
430539
430711
430807
431035
431316
431318
431839
431965
432776
433275
433276
433277
433278
433286
433296
433297
433299
433756
434582
434832
440693
440800
445290
446153
450140
450142
450146
450147
456239
456637
480959
480962
481058
486723
489694
490307
490309
491402
491430
491497
491540
491944
492313
492328
492330
492331
492332
492810
493187
493190
493218
493266
493681
493928
494840
494842
494845
495312
495318
498581
503328
503330
503461
504255
504419
504459
508060
513057
513100
514299
514769
514771
515780
519793
525036
525040
528361
528659
528773
529492
530789
530790
530809
530877
530878
531820
533286
534056
534683
534937
535004
535032
535143
535517
535600
536126
536750
536841
538464
538608
538609
539285
539390
541271
541596
541598
542022
543223
543253
543341
543414
555336
555830
556434
558241
558242
558245
558390
558419
559066
559085
559165
560042
560401
562968
563966
564572
564585
564587
564599

In [3]:
cnx = mysql.connector.connect(user='root',password = "root", database='joconde2')
cursor = cnx.cursor()
for row in table_Oeuvre_Domaine.index:
    try:
        add = ("INSERT INTO domaine"
                        "(IdOeuvre, domaine) "
                        "VALUES (%s, %s)")
        data = (table_Oeuvre_Domaine['ID-notice'][row], table_Oeuvre_Domaine.Domaine[row])
        cursor.execute(add, data)
        cnx.commit()
    except:
        pass
cursor.close()
cnx.close()

In [ ]:
cursor.close()
cnx.close()